# Data files
**/*.csv
*.db
*.sqlite
*.sql
app/testdata/
db/data

# Binaries
/api
/mtupdate

# Misc
/.git
/.dockerignore
/.gitignore
/Makefile*
/TODO*
/test.sh
/requests.http
/.env
/mt.yml
*.md
Dockerfile*

# Must include
!/README.md
