# Binaries
/mt
/mtupdate
*.test

# Config
api.yml
api.yaml
mt.yml
*env

# Misc
/vendor/
TODO*
test.sql

# Data
*.sqlite
*.db
*.csv
*database.dump
/db/data/*
!/db/data/load.sql

# Testing
requests.http
app/testdata/testuser.json
app/testdata/testlogin.json
*.txt
test.sh
counts.sh
wait-for

# Code Gen
/gql/internal/graph
/app/internal/gql
