# Binaries
/mt
/mtupdate
*.test

# Config
api.yml
api.yaml
mt.yml
*env

# Misc
/vendor/
TODO*
test.sql

# Data
*.sqlite
*.db
*.csv
*database.dump

# Testing
requests.http
app/testdata/testuser.json
*.txt
test.sh
